*{
    margin:0;
    padding:0;
}

table, th,td{
  border: 2px solid black;
  /*border-collapse: collapse;*/                         /*collapse into one border*/
  /* border-radius: 10px; */
}
th, td {
  /* background-color: #96D4D4; */    
  /* border-style: dotted; */
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}
td{
 width: 100px;
}
th{
  text-align: center;
}
/* tr{
  border-bottom: 1px solid #ddd;
} */
table{
  border-spacing: 30px;
}

tr:nth-child(even) {
  background-color: pink;
}

/* th:nth-child(even),td:nth-child(even) {
  background-color: #D6EEEE;
} */

tr:hover {
  background-color:slategrey
}
   /* link styling  */
/* a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
} */

                            /* flex box style start  */

.flex-container {
  display: flex;
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */
  flex-direction: row;
  /* flex-direction: row-reverse; */
  background-color: DodgerBlue;

  /* wrap value specifies that the flex items will wrap if necessary */
  flex-wrap: wrap;

  /* flex-wrap: nowrap; */

  /* The flex-flow property is a shorthand property for setting both the flex-direction and flex-wrap properties. */
  flex-flow: row wrap;

  /* it center the flex item at the center of the container  */
  /* justify-content: center; */

  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  /* justify-content: space-around; */
  /* justify-content: space-between; */

  /* align-items Property example  */
  /* align-items: center; */
  /* align-items: flex-start; */
  /* align-items: flex-end; */
  /* align-items: stretch; */

  /* align-content: space-between; */
  /* align-content: space-around; */
  justify-content: center;
  align-items: center;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

      /* flex item property  */
.flex-item {
  display: flex;
  align-items: stretch;
  background-color: #f1f1f1;
  height: 200px;
}

.flex-item>div {
  background-color: DodgerBlue;
  color: white;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

   /* Responsive Flexbox */
.flex-container2 {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  background-color: dodgerblue;
  padding: 10px;
  flex: 50%;
}
/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container2 {
    flex-direction: column;
  }
}

                              /* flex box style end  */
                              /* Grid layout page stylesheet  */
 .item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  /* display: inline-grid; */
  /* grid-template-columns: 80px 200px auto 30px; */
  /* grid-template-rows: 80px 200px; */
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  
  background-color: #2196F3;
  padding: 10px;

  /* grid-column-gap: 50px;
  grid-row-gap: 50px; */
  /* grid-gap property is a shorthand property for the grid-row-gap and the grid-column-gap properties */
  grid-gap: 50px 100px;
  /* grid-gap: 10px; */
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
/* example 2 grid  */
.grid-container2 {
  display: grid;
  grid-template-columns: 80px 200px auto 30px;
  grid-template-rows: 80px 200px;
  /* justify-content: space-evenly; */
  justify-content: space-between;
  /* justify-content: space-evenly; */

  /* justify-content: center;
  justify-content: start;
  justify-content: end; */
  grid-gap: 10px;

  /* align-content: center; */
  /* align-content: space-evenly; */
  align-content: space-around;
  /* align-content: space-between; */
  /* align-content: start; */
  background-color: #2196F3;
  padding: 10px;
}

.grid-container2 > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
/* grid example 3  */
.grid-container3 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container3 > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

/* .grid-container3 .item1 {
  grid-column: 1 / 5;
}
.grid-container3 .item6 {
  grid-row: 1 / 3;
} */
/* The grid-area property can be used as a shorthand property for the grid-row-start, grid-column-start, grid-row-end and the grid-column-end properties. */
.item8 {
  grid-area: 1 / 2 / 5 / 6;
}
/* .item1 {
  grid-column-start: 1;
  grid-column-end: 6;
} */

/* example4 */
.grid-container4 {
  display: grid;
  
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container4 > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1 { grid-area: 1 / 3 / 2 / 4; }
.item2 { grid-area: 2 / 3 / 3 / 4; }
.item3 { grid-area: 1 / 1 / 2 / 2; }
.item4 { grid-area: 1 / 2 / 2 / 3; }
.item5 { grid-area: 2 / 1 / 3 / 2; }
.item6 { grid-area: 2 / 2 / 3 / 3; }

                                        /* Grid layout page stylesheet end  */

                                        /* home page nav bar style */
/* button style on home page  */
.btn-group .button {
  background-color: #4CAF50; /* Green */
  border: 1px solid green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  display: block;
}



.btn-group .button:hover {
  background-color: #3e8e41;
}
               
.main{
    background-image: url("../images/mimg.jpg");
   background-size: cover;
   background-position: center ;
    height: 100vh;
    width: 100%;
}
nav ul li{
    list-style-type:none;
    display:inline-block;
}
nav{
    background-color: black;
    height: 8vh;
    line-height: 8vh;
}
nav ul li a{
     text-decoration: none;
    
    padding : 20px;
    font-family: "Audiowide", sans-serif;
    color: white;

}
nav ul{
    margin-left: 40px;
}
                                            /* responsivecss page style sheet  */
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
  background-color: #0099cc;
}

.aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
/* responsivecss page style sheet end */

 /* home page nav bar style end */

       /*  home page Styling Forms */
 /* input[type=text] {
  /* width: 150px;
  display: block;
  margin-bottom: 10px; */
  /* background-color: yellow;
} */ 

 /* contact us page background image  */
 .cmain{
     background-image: url("../images/cont.jpg");
     
    }
    /* h,p,pre style  */
    .cmain h1{
        background-color:yellowgreen;
        border: 2px solid whitesmoke;
        color: tomato;
        text-align: center;
        font-family:verdana;
        font-size:300%;
    }
    .cmain p{
        color:turquoise;
    }
    .cmain pre{
        color:wheat;
    }
    .cmain address{
        color: violet;
    }
    /* Svg example color  */
    .cmain rect{
        fill: thistle;
    }
    /* About us page background image  */
 .amain{
     background-image: url("../images/about.jpg");

 }
 /* .amain img{
     float: right;
     
 } */

 /* about page panda img style, image align */
 .amain img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    /* !important example style */
    #myid {
      background-color: blue !important;
    }
    
    .myclass {
      background-color: gray !important;
    }
    
   .amain p {
      background-color: red !important;
    }
          /* styling for math functions  */
          #box{
            border:1px solid black;
            background: pink;
            width: 400px;
            height:210px;
            padding: 20px;
            position:absolute;
            left: calc(100%-100px);
            /* left: calc(50% - 200px -20px - 1px);
            top: calc(50% - 105px -20px - 1px); */
          }
 /* home page form  */
form{
    float:right;
    /* margin-right: 1%; */
}
/* other page style  */
.other{
    background-color: turquoise;
    width:100%;
    height:90vh;
}

/* home button style  */
.other a{
    margin-left: 50%;
    background-color: black;
    border: 2px solid whitesmoke;
    color: tomato;
    text-align: center;
    font-family:verdana;
    font-size:300%;
}
/* table style  */
.other table, th, td {
    border:1px solid black;
  }
                    /* css-example page style sheet  */
                    div > p {
                        background-color: yellow;
                      }
                      a.highlight:hover {
                        color: #ff0000;
                        font-size: 22px;
                      } 

                      /* we can style first line & first character  */
                    
                      .css-example p::first-letter {
                        color: #ff0000;
                        font-size: xx-large;
                      }
                       /* counter style sheet , upper-alpha, lower- alpha, roman */
 /* .css-example  {
  counter-reset: my-counter ;
}

.css-example h2::before {
  counter-increment: my-counter;
  content: "Chapter " counter(my-counter) ": ";         content: "Chapter " counter(my-counter, upper-alpha) ": ";
  color:coral
} */

.css-example {
  counter-reset: section;
}

h1 {
  counter-reset: subsection;
}

h1::before {
  counter-increment: section;
  content: "Section " counter(section) ": ";
}

h2::before {
  counter-increment: subsection;
  content: counter(section) "." counter(subsection) " :";
}
/* counter list style  */
 .css-example ol  {
  counter-reset: section;
  list-style-type: none;
}

 .css-example li::before {
  counter-increment: section;
  content: counters(section,".") " ";
}
/* Rounder border style sheet  */
#rcorners1 {
  border-radius: 50px / 15px;
  background: #73AD21;
  padding: 20px; 
  width: 200px;
  height: 150px; 
}

#rcorners2 {
  border-radius: 15px / 50px;
  background: #73AD21;
  padding: 20px; 
  width: 200px;
  height: 150px; 
}

#rcorners3 {
  border-radius: 50%;
  background: #73AD21;
  padding: 20px; 
  width: 200px;
  height: 150px;
} 
/* border images style sheet  */
#borderimg1 {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(../images/border.png) 50 round;
}

#borderimg2 {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(../images/border.png) 20% round;
}

#borderimg3 {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(../images/border.png) 30% round;
}
#borderimg4 { 
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(../images/border.png) 30 stretch;
}

/* #multibackg{
  background-image: url(../images/multiback.jpg), url(../images/img_flwr.gif);
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
  padding: 15px;
}
or  */
#multibackg{
  background: url(../images/img_flwr.gif) right bottom no-repeat, url(../images/multiback.jpg) left top no-repeat;
padding: 15px;
background-size: auto;
}
/* example of cover and contain  */
.div8 {
  border: 1px solid black;
  height: 120px;
  width: 150px;
  background: url(../images/img_flwr.gif);
  background-repeat: no-repeat;
  background-size: contain;
}

.div9 {
  border: 1px solid black;
  height: 120px;
  width: 150px;
  background: url(../images/img_flwr.gif);
  background-repeat: no-repeat;
  background-size: cover;
}
        /* background origin property stylesheet  */
        #example1 {
          border: 10px dotted pink;
          padding: 35px;
          background: url(../images/sky.jfif);
          background-repeat: no-repeat;
          background-size: cover;
        }
        
        #example2 {
          border: 10px dotted pink;
          padding: 35px;
          background: url(../images/sky.jfif);
          background-repeat: no-repeat;
          background-origin: border-box;
          background-size: cover;
        }
        
        #example3 {
          border: 10px dotted pink;
          padding: 35px;
          background: url(../images/sky.jfif);
          background-repeat: no-repeat;
          background-origin: content-box;
          background-size: cover;
        }
        /* color keyword (error) */
        #clr {
          color: blue;
          border: 10px solid currentcolor;
          padding: 15px;  
        }
                             /* CSS Gradients example  */
          /* linearGradient */
        #grad1 {
          height: 200px;
          /* background-color: red; For browsers that do not support gradients */
          /* background-image: linear-gradient(red, yellow);
          background-image: linear-gradient(to right, red , yellow);
          background-image: linear-gradient(to bottom right, red, yellow);
          background-image: linear-gradient(180deg, red, yellow);
          background-image: linear-gradient(red, yellow, green); */
          background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);

/* Repeating a linear-gradient example */
          /* background-image: repeating-linear-gradient(red, yellow 10%, green 20%); */
        }
        /* radialGradient */
        #grad2 {
          height: 150px;
          width: 200px;
          
          /* background-image: radial-gradient(red, yellow, green);
          background-image: radial-gradient(red 5%, yellow 15%, green 60%); */
          /* set shape  */
          /* background-image: radial-gradient(circle, red, yellow, green); */

          /* repeating  */
          background-image: repeating-radial-gradient(red, yellow 10%, green 15%);
        }
        #grad21 {
          height: 150px;
          width: 150px;
          background-color: red; /* For browsers that do not support gradients */
          background-image: radial-gradient(closest-side at 60% 55%, red, yellow, black);
        }
        
        #grad22 {
          height: 150px;
          width: 150px;
          background-color: red; /* For browsers that do not support gradients */
          background-image: radial-gradient(farthest-side at 60% 55%, red, yellow, black);
        }
        
        #grad23 {
          height: 150px;
          width: 150px;
          background-color: red; /* For browsers that do not support gradients */
          background-image: radial-gradient(closest-corner at 60% 55%, red, yellow, black);
        }
        
        #grad24 {
          height: 150px;
          width: 150px;
          background-color: red; /* For browsers that do not support gradients */
          background-image: radial-gradient(farthest-corner at 60% 55%, red, yellow, black);
        }
/* conic gradient  */
        #grad3{
          height: 200px;
          width: 200px;
          /* background-image: conic-gradient(red, yellow, green, blue, black); */
          /* background-image: conic-gradient(red 45deg, yellow 90deg, green 210deg); */
          /* background-image: conic-gradient(red 0deg, red 90deg, yellow 90deg, yellow 180deg, green 180deg, green 270deg, blue 270deg); */
          background-image: conic-gradient(at 60% 45%, red, yellow, green);
          border-radius: 50%;

          /* Repeating a Conic Gradient */
          background-image: repeating-conic-gradient(red 0deg 10deg, yellow 10deg 20deg, blue 20deg 30deg);
        }
                
        /* shadow effect  */
        #sh {
          /* text-shadow: 2px 2px red; */

           /* add a blur effect to the shadow:  */
          /* text-shadow: 2px 2px 5px red; */

          /* shows a white text with black, blue, and darkblue shadow */
          text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
        }
        #bsh{
        
            width: 300px;
            height: 100px;
            padding: 15px;
            background-color: yellow;
            box-shadow: 43px 49px 24px 71px grey;
            /* 5px for blur, 12px for spread  */
            /* box-shadow: 10px 10px grey; */

            /* inset parameter changes the shadow from an outer shadow (outset) to an inner shadow */
            /* box-shadow: 10px 10px 5px grey inset; */

            /* Multiple shadows with blur effect */
            box-shadow: 5px 5px 8px blue, 10px 10px 8px red, 15px 15px 8px green;
        }

        /* text effect style sheet  */
        p.test1 {
          /* white-space: nowrap;  */
          /* width: 200px;  */
          border: 1px solid hsl(0, 0%, 0%);
          /* overflow: hidden;  */
          /* text-overflow: clip; */
          /* text-overflow: ellipsis; */
          /* word-wrap 
          /* word-wrap: break-word;
          word-break: keep-all;
          /* word-break: break-all; */
          writing-mode: horizontal-tb;  */
        }
        /* web fonts  */
        p.test1 {
          font-family: myFirstFont;
          src: url(sansation_light.woff);
          font-family: 'Poppins', sans-serif;
       }
       
       * {
          font-family: myFirstFont;
          font-family: 'Poppins', sans-serif;
       }
       /* 2D transforms  */
       #dt{
       
          width: 300px;
          height: 100px;
          background-color: yellow;
          border: 1px solid black;
          /* transform: translate(50px,100px); */
/* for rotate  */
          transform: rotate(20deg);
       }
       #dtscale{
        margin: 150px;
        width: 200px;
        height: 100px;
        background-color: yellow;
        border: 1px solid black;
        /* transform: scale(2,3); */
        
        /* scaleX() method increases or decreases the width of an element. */
        transform: scaleX(2);

        /* scaleY() method increases or decreases the height of an element. */
        transform: scaleY(3);

        /* decreases the <div> element to be half of its original width and height:  */
        /* transform: scale(0.5,0.5); */
       }
       /* for skew() method  */
       #skw{
        margin: 150px;
        width: 200px;
        height: 300px;
        background-color: yellow;
        border: 1px solid black;
        /* transform: skewX(20deg);
        transform: skewY(20deg); */
        transform: skew(20deg, 10deg);
        /* transform: skew(20deg); */
       }
       /* for matrix  */
       #matrix{
        width: 300px;
        height: 100px;
        background-color: yellow;
        border: 1px solid black;
        transform: matrix(1, -0.3, 0, 1, 0, 0);
        /* transform: matrix(1, 0, 0.5, 1, 150, 0); */
       }
       /* 3D transform  */
       #xyz{
        width: 300px;
        height: 100px;
        background-color: yellow;
        border: 1px solid black;
        transform: rotateX(150deg);
        /* transform: rotateY(150deg); */
        /* transform: rotateZ(90deg); */
       }
                  /* transition stylesheet  */
       #trans{
        width: 100px;
        height: 100px;
        background: red;
        /* transition: width 2s; */
        transition: width 2s, height 4s,background 4s;
       }
       #trans:hover {
        width: 300px;
        height: 300px;
        background: green;
      }
 /* transition-timing-function */
 #container {
  width: 100px;
  height: 100px;
  background: red;
  transition: width 2s;
  /* transition-delay: 2s; */
}
      #div101 {transition-timing-function: linear;}
#div102 {transition-timing-function: ease;}
#div103 {transition-timing-function: ease-in;}
#div104 {transition-timing-function: ease-out;}
#div105 {transition-timing-function: ease-in-out;}

#container:hover {
  width: 300px;
}
#tsf{
  width: 100px;
  height: 100px;
  background: red;
  transition: width 2s, height 2s, transform 2s;
}
#tsf:hover {
  width: 300px;
  height: 300px;
  transform: rotate(180deg);
}
#ani{
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: 2; /* the number of times an animation should run.*/
  /* animation-iteration-count: infinite;  the value "infinite" to make the animation continue for ever */
  position:relative;

  animation-delay: 2s; /*2 seconds delay before starting the animation*/

  animation-fill-mode: forwards;
  /* to property applied */

/* animation-fill-mode: alternate;  */
/* from property applied at the end   */

                      /* normal - The animation is played as normal (forwards). This is default
                      reverse - The animation is played in reverse direction (backwards)
                      alternate - The animation is played forwards first, then backwards
                      alternate-reverse - The animation is played backwards first, then forwards */
animation-direction: reverse;
/* animation-direction: alternate-reverse; */
}
/* @keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
} */

/* change the background-color of the <div> element when the animation is 25% complete, 50% complete, and again when the animation is 100% complete: */
/* @keyframes example {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
} */

 /* it change background color with position  */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
/* 2nd example for Speed Curve of the Animation */
#sp {
  width: 100px;
  height: 50px;
  background-color: red;
  font-weight: bold;
  position: relative;
  animation: mymove 5s infinite;
}
#ani1 {animation-timing-function: linear;}
#ani2 {animation-timing-function: ease;}
#ani3 {animation-timing-function: ease-in;}
#ani4 {animation-timing-function: ease-out;}
#ani5 {animation-timing-function: ease-in-out;}

@keyframes mymove {
  from {left: 0px;}
  to {left: 300px;}
}
          /* tooltip example  */
          .tooltip {
            position: relative;
            display: inline-block;
            border-bottom: 1px dotted black;
          }
          
          .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
          
            /* Position the tooltip */
            position: absolute;
            z-index: 1;
            /* top: -5px;
            left: 105%; */
            /* right: 105%; */

            /* Top Tooltip */
            bottom: 100%;
            left: 50%;
            margin-left: -60px;
            
              /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 3s;

          }

          /* for Tooltip Arrows  */
          .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: black transparent transparent transparent;
          }
          /* end Tooltip Arrows  */

          .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
          }
                         /* Styling Images */

          /* img {
            border-radius: 50%;
          } */
          img {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 150px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            /* opacity: 0.5; */
          }
          
          img:hover {
            box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
          }
          /* Polaroid Images / Cards */
          div.polaroid {
            width: 80%;
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            margin-bottom: 25px;
          }
          
          div.container {
            text-align: center;
            padding: 10px 20px;
          }

          /* for image filter  */
          /* img {
            width: 33%;
            height: auto;
            float: left; 
            max-width: 235px;
          }
          
          .blur {filter: blur(4px);}
          .brightness {filter: brightness(250%);}
          .contrast {filter: contrast(180%);}
          .grayscale {filter: grayscale(100%);}
          .huerotate {filter: hue-rotate(180deg);}
          .invert {filter: invert(100%);}
          .opacity {filter: opacity(50%);}
          .saturate {filter: saturate(7);}
          .sepia {filter: sepia(100%);}
          .shadow {filter: drop-shadow(8px 8px 10px green);
          } */

          /* Fade in Overlay style sheet  */

          .container {
            position: relative;
            width: 50%;
          }
          
          .image {
            display: block;
            width: 100%;
            height: auto;
          }
          
          .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            background-color: #008CBA;
          }
          
          .container:hover .overlay {
            opacity: 1;
          }
          
          .text {
            color: white;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
          }
          /* fade in box */
          .container2 {
            position: relative;
            width: 50%;
          }
          
          .image {
            opacity: 1;
            display: block;
            width: 100%;
            height: auto;
            transition: .5s ease;
            backface-visibility: hidden;
          }
          
          .middle {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%)
          }
          
          .container2:hover .image {
            opacity: 0.3;
          }
          
          .container2:hover .middle {
            opacity: 1;
          }
          
          .text {
            background-color: #4CAF50;
            color: white;
            font-size: 16px;
            padding: 16px 32px;
          }
          /* flip stylesheet  */
          .flip:hover {
            transform: scaleX(-1);
          }

          /* image reflection stylesheet  */
          .ref{
            -webkit-box-reflect: right;
          }

          /* object fit property stylesheet  */
          .fill {object-fit: fill;}
            .contain {object-fit: contain;}
            .cover {object-fit: cover;}
            .scale-down {object-fit: scale-down;}
            .none {object-fit: none;}

            /* object position stylesheet */
            .obn img{
              width: 200px;
              height: 300px;
              object-fit: cover;
              object-position: 48% 100%;
            }
          
            /* mask image stylesheet */
            .mask1 {
              -webkit-mask-image: url(../images/w3logo.png);
              mask-image: url(../images/w3logo.png);
              -webkit-mask-repeat: no-repeat;
              mask-repeat: no-repeat; 

              /* linear gradient as a mask  */
              /* -webkit-mask-image: linear-gradient(black, transparent);
              mask-image: linear-gradient(black, transparent); */
            }
            .mask2 {
              max-width: 600px;
              height: 350px;
              overflow-y: scroll;
              background: url(../images/img_5terre.jpg) no-repeat;
              -webkit-mask-image: linear-gradient(black, transparent);
              mask-image: linear-gradient (black, transparent);
            }
            /* radial gradient as a mask layer (a circle) */
            .mask3 {
              -webkit-mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 0.5) 50%);
              mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 0.5) 50%);
            }
/* button stylesheet  */
           .button {
              background-color: #4CAF50;
              border: none;
              color: white;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              margin: 4px 2px;
              cursor: pointer;
              border: 1px solid green;
              float:left;
              display:block;
              
            }

            .button3 {background-color: #f44336;} /* Red */ 
              .button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
              .button5 {background-color: #555555;} /* Black */

              .button6{font-size: 10px;}

              .button7 {padding: 32px 16px;}

              .button8 {border-radius: 50%;}

              .button9 {
                background-color: white; 
                color: black; 
                border: 2px solid #4CAF50;
              }

              .button10{
                background-color: white; 
                color: black; 
                border: 2px solid #008CBA;
              }
              
              .button10:hover {
                background-color: #008CBA;
                color: white;
                /* box shadow  */
                box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
              
              }
              .disabled {
                opacity: 0.6;
                cursor: not-allowed;
              }
              .btn-group .button:not(:last-child) {
                border-right: none; /* Prevent double borders */
              }
              
              .btn-group .button:hover {
                background-color: #3e8e41;
              }
              /* Button on Image stylesheet */
              .container {
                position: relative;
                width: 100%;
                max-width: 400px;
              }
              
              .container img {
                width: 100%;
                height: auto;
              }
              
              .container .btn {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                background-color: #f1f1f1;
                color: black;
                font-size: 16px;
                padding: 16px 30px;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                text-align: center;
              }
              
              .container .btn:hover {
                background-color: black;
                color: white;
              }
               /* Animated Button  "Pressed Effect"  */
               .button11 {
                display: inline-block;
                padding: 15px 25px;
                font-size: 24px;
                cursor: pointer;
                text-align: center;
                text-decoration: none;
                outline: none;
                color: #fff;
                background-color: #4CAF50;
                border: none;
                border-radius: 15px;
                box-shadow: 0 9px #999;
              }
              
              .button11:hover {background-color: #3e8e41}
              
              .button11:active {
                background-color: #3e8e41;
                box-shadow: 0 5px #666;
                transform: translateY(4px);
              }
              .button12 {
                background-color: #f4511e;
                border: none;
                color: white;
                padding: 16px 32px;
                text-align: center;
                font-size: 16px;
                margin: 4px 2px;
                opacity: 0.6;
                transition: 0.3s;
                display: inline-block;
                text-decoration: none;
                cursor: pointer;
              }
              
              .button12:hover {opacity: 1}

              /* Animated Button - Ripple Effect */
              .button13 {
                position: relative;
                background-color: #4CAF50;
                border: none;
                font-size: 28px;
                color: #FFFFFF;
                padding: 20px;
                width: 200px;
                text-align: center;
                transition-duration: 0.4s;
                text-decoration: none;
                overflow: hidden;
                cursor: pointer;
              }
              
              .button13:after {
                content: "";
                background: #f1f1f1;
                display: block;
                position: absolute;
                padding-top: 300%;
                padding-left: 350%;
                margin-left: -20px !important;
                margin-top: -120%;
                opacity: 0;
                transition: all 0.8s
              }
              .button13:active:after {
                padding: 0;
                margin: 0;
                opacity: 1;
                transition: 0s
              }
                 /* simple pagination stylesheet  */
              .pagination {
                display: inline-block;
              }
              
              .pagination a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
                /* Transition Effect on Hover */
                transition: background-color .3s;

                /* Pagination with Borders */
                border: 1px solid #ddd;

              /* Pagination with Margins */
              /* margin: 0 4px; */

              /* Pagination Size */
              font-size: 22px;
              }

              /* Active and Hoverable Pagination in pagination */
              .pagination a.active {
                background-color: #4CAF50;
                color: white;
                border-radius: 5px;
              }
              
              .pagination a:hover:not(.active) 
              {
                background-color: #ddd;
                border-radius: 5px;
              }
              /* Pagination with Rounded Borders */
              .pagination a:first-child {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
              }
              
              .pagination a:last-child {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
              }
              /* Breadcrumb Pagination */
              ul.breadcrumb {
                padding: 8px 16px;
                list-style: none;
                background-color: #eee;
              }
              
              ul.breadcrumb li {display: inline;}
              
              ul.breadcrumb li+li:before {
                padding: 8px;
                color: black;
                content: "/\00a0";
              }
              
              ul.breadcrumb li a {color: green;}

              /* Create Multiple Columns stylesheet  */
              .newspaper {
                column-count: 3;
                column-gap: 40px;

                /* Add a Rule Between the Columns */
                column-rule-style: solid;

                /* Set the Rule Width */
                column-rule-width: 1px;
                column-rule-color: lightblue;

                /* short hand property  
                column-rule: 1px solid lightblue; */
                column-width: 100px;
              }
              /* specifies how many columns an element should span across. */
                h2 {
                  column-span: all;
                }
                /* example of Re-size  */
                .re-size{
                  border: 2px solid;
                  padding: 20px; 
                  width: 300px;
                  resize: horizontal;
                  /* for vertical  */
                  /* resize: vertical; */
                  overflow: auto;
                }
                          /* outline-offset Property */
                div.ex1 {
                  margin: 20px;
                  border: 1px solid black;
                  outline: 4px solid red;
                  outline-offset: 15px;
                } 
                /* example of box-sizing */
                .div100 {
                  width: 300px;
                  height: 100px;
                  border: 1px solid blue;
                  box-sizing: border-box;
                }
                
                .div101 {
                  width: 300px;
                  height: 100px;  
                  padding: 50px;
                  border: 1px solid red;
                  box-sizing: border-box;
                }

                                     /* Media Queries */

                                     .mquiry {
                                      background-color: pink;
                                    }
                                    
                                    @media screen and (min-width: 780px) {
                                      .mquiry {
                                        background-color: lightgreen;
                                      }
                                    }
      /* Media Queries For Menus */
                                    * {
                                      box-sizing: border-box;
                                    }
                                    
                                    /* Style the top navigation bar */
                                    .topnav {
                                      overflow: hidden;
                                      background-color: #333;
                                    }
                                    
                                    /* Style the topnav links */
                                    .topnav a {
                                      float: left;
                                      display: block;
                                      color: #f2f2f2;
                                      text-align: center;
                                      padding: 14px 16px;
                                      text-decoration: none;
                                    }
                                    
                                    /* Change color on hover */
                                    .topnav a:hover {
                                      background-color: #ddd;
                                      color: black;
                                    }
                                    
                                    /* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
                                    @media screen and (max-width: 780px) {
                                      .topnav a {
                                        float: none;
                                        width: 100%;
                                      }
                     /* Media Queries For Menus end  */

                     /* Responsive Four Column Layout start */
/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 20px;
}

/* Clear floats after the columns */
.column:after {
  content: "";
  display: table;
  clear: both;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) and (min-width: 600px)  {
  .column {
    width: 50%;
    font-size: 40px;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    font-size: 40px;
  }
}
/* Responsive Four Column Layout end  */

                /* Hide elements on different screen sizes start  */
 
div.example {
  background-color: yellow;
  padding: 20px;
}

@media screen and (max-width: 600px) {
  div.example {
    display: none;
  }
}

/* Orientation: Portrait / Landscape  error*/
/* body{
  background-color: lightgreen;
}

@media only screen and (orientation: landscape) {
  body{
    background-color: lightblue;
  }
} */
                /* Hide elements on different screen sizes end  */

                /* Using the var() Function, overriding */
                /* :root {
                  --blue: #1e90ff;
                  --white: #ffffff; 
                }
                
                body {
                  background-color: var(--blue);
                }
                
                h2 {
                  border-bottom: 2px solid var(--blue);
                }
                
                .container5 {
                  color: var(--blue);
                  background-color: var(--white);
                  padding: 15px;
                }
                
                button {
                  --blue: #0000ff; /* local variable will override global */
                  /* background-color: var(--white);
                  color: var(--blue);
                  border: 1px solid var(--blue);
                  padding: 5px;
                } */ 
              
              /* Pagination with Margins */
        /* p.test1:hover {
          overflow: visible;
        } */
                                        /* flex example  in other page */
                                        /* .container10 {
                                          display: flex;
                                          flex-direction: column;
                                          background-color: DodgerBlue;
                                        }
                                        
                                        .container10  div {
                                          background-color:red;
                                          width: 100px;
                                          margin: 10px;
                                          text-align: center;
                                          line-height: 75px;
                                          font-size: 30px;
                                        } */
                                        /* flex example end  */

                      /* p::first-line {
                        color: #0000ff;
                        font-variant: small-caps;
                      } */

                      /* .css-example h1 ::before {
                        content: url(smiley.gif);
                      } */

                      
                      /* ::marker { 
                        color: red;
                        font-size: 23px;
                      } */

                                  /* Drop-down menu page style  */
          

                                  .dnav ul{
                                      margin: 0;
                                      padding: 0;
                                  }
                                  .dnav ul li{
                                    background-color: black;
                                    width: 300px;
                                    height: 30px;
                                    /* float: left; */
                                    float:left;
                                    line-height: 30px;
                                    text-align: center;
                                    border: 2px solid white;
                                    list-style-type: none;    /* it remove list no.,points*/
                                    position: relative;
                                }               

                                .dnav ul li a{
                                    color: cornsilk;
/* remove underline from list item */  text-decoration : none;
                                        display: block;
                                }
                                /* .dnav ul li a:hover{
                                    background-color: green;
                                } */

                                /* remove auto show marketin & design */
                               .dnav ul ul{ 
                                   position: absolute;
                                     display: none;
                                     
                                     /* margin-left: 300px  ; */

                              }

                              /* display marketing & design when we move mouse on service  */
                              .dnav ul li:hover > ul{
                                  display: block;
                              }
                /* style for web, graphics, interior    */
                /* .dnav ul li ul li ul li */
                .dnav ul ul ul{
                                margin-left: 300px;
                                 top: 0px;
                                 
                }

                                                /* images splite stylesheet */
                #navlist {
                    position: relative;
                  }
                  
                  #navlist li {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    position: absolute;
                    top: 0;
                  }
                  
                  #navlist li, #navlist a {
                    height: 44px;
                    display: block;
                  }
                  
                  #home {
                    left: 0px;
                    width: 40px;
                    background: url(../images/hlogo.jpg) 0 0;
                  }
                  /* #home {
                    left: 0px;
                    width: 46px;
                    background: url(../images/hlogo.jpg) 0 0;
                  }  */
                  
                                             /* Css Attr Selector example style  */

                 /* [class|=top] {         select elements with the specified attribute starting with the specified value.
                  background: yellow;       
                 } */

                 /* or  */

                 /* [class$="test"] {     selector is used to select elements whose attribute value ends with a specified value.
                  background: yellow;
                  [attribute*="value"] selector is used to select elements whose attribute value contains a specified value.
                } */

                 [class^="top"] {
                  background: yellow;
                }

                 [title~=flower] {
                  border: 5px solid yellow;
                 }

                 a[target=_blank] {
                  background-color: yellow;
                } 
                
              /* dropdown page form editing */

              /* input[type=text] {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                box-sizing: border-box;
                border: 2px solid red;
                border-radius: 4px;
              } */
              /* or  */
              /* input[type=text] {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                box-sizing: border-box;
                border: none;
                border-bottom: 2px solid red;
              } */
              /* input[type=text] {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                box-sizing: border-box;
                border: 3px solid #ccc;
                -webkit-transition: 0.5s;
                transition: 0.5s;
                outline: none; */
              }
              
              input[type=text]:focus {
                border: 3px solid #555;
                background-color:coral;
              }
              textarea {
                width: 100%;
                height: 150px;
                padding: 12px 20px;
                box-sizing: border-box;
                border: 2px solid #ccc;
                border-radius: 4px;
                background-color: #f8f8f8;
                font-size: 16px;
                resize: none;
              }

              select {
                width: 100%;
                padding: 16px 20px;
                border: none;
                border-radius: 4px;
                background-color: #f1f1f1;
              }
              /* button styling  */
              /* input[type=button], input[type=submit], input[type=reset] {
                background-color: #4CAF50;
                border: none;
                color: white;
                padding: 16px 32px;
                text-decoration: none;
                margin: 4px 2px;
                cursor: pointer;
              } */
              /* for input search style  */
              input[type=text] {
                width: 100%;
                box-sizing: border-box;
                border: 2px solid #ccc;
                border-radius: 4px;
                font-size: 16px;
                background-color: white;
                background-image: url('../images/ser.png');
                background-position: 10px 10px; 
                background-repeat: no-repeat;
                padding: 12px 20px 12px 40px;
              }

              /* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create three equal columns that floats next to each other */
/* equal column examole style  */
/* .column {
  float: left;
  width: 33.33%;
  padding: 15px;
}*/

/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
/* @media screen and (max-width:600px) {
  .column {
    width: 100%;
  } */ 
          /* unequal column  */
  .column {
    float: left;
    padding: 10px;
  }
  
  /* Left and right column */
  .column.side {
    width: 24%;
  }
  
  /* Middle column */
  .column.middle {
    width: 48%;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }
  .footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  /* }                         layout page style sheet  */

  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    text-align: center;
    background: white;
  }
  
  .header h1 {
    font-size: 50px;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }

 